*, *:before, *:after {
  box-sizing: border-box; }

img {
  max-width: 100%; }

h1 {
  color: purple; }

h2, h3 {
  color: red; }

body {
  font-size: 100%;
  background-color: lightblue; }

header {
  font-size: 3em; }

*, *:before, *:after {
  box-sizing: border-box; }

nav {
  margin: 10px 0; }

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; }

nav li {
  display: inline-block;
  padding: 0;
  margin: 0; }

nav a {
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  background-image: linear-gradient(#999999, #555555);
  text-decoration: none;
  color: white;
  box-shadow: 5px 5px 15px gray; }

nav a:hover {
  background-image: linear-gradient(#aaaaaa, #666666); }

nav a:active {
  background-image: linear-gradient(#666666, #aaaaaa); }

/*# sourceMappingURL=main.css.map */
