header {
  font-size: 2em; }

.desc {
  display: block; }
  .desc img {
    max-width: 350px; }
  .desc .imageContainer {
    width: 47%;
    background-color: aquamarine;
    margin: auto; }
  .desc .textContainer {
    dislay: inline;
    width: 47%;
    background-color: lightcoral;
    text-align: center; }

/*# sourceMappingURL=team.css.map */
