.desc {
    display: block;
    img {
        max-width: 350px;
    }
    .imageContainer {
        width: 47%;
        background-color: aquamarine;
        margin: auto;
    }
    .textContainer {
        dislay: inline;
        width: 47%;
        background-color: lightcoral;
        text-align: center;
    }
}